name: node js dockerization
on: 
   push:
      branches: 
      - main

jobs: 
 build-and-run:
  runs-on: ubuntu-latest

  steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: configure aws credentials
    uses: aws-actions/configure-aws-credentials@v3
    with: 
     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     aws-region: us-east-1
    #aws_region: us-east-1

  - name: Login to Amazon ECR
    id: login-ecr
    uses: aws-actions/amazon-ecr-login@v1

  - name: Build, Tag, and push the image to Amazon ECR
    id: build-image
    env:
      ECR_REGISTRY: ${{steps.login-ecr.outputs.registry }}
      ECR_REPOSITORY: imagerepo
      IMAGE_TAG: latest
    run:  |
      docker build -t test:latest .
      docker tag test:latest 087615957965.dkr.ecr.us-east-1.amazonaws.com/imagerepo:latest 
      docker push 087615957965.dkr.ecr.us-east-1.amazonaws.com/imagerepo:latest
      

   
     
    
    

 


  
