name: CICD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  TF_ROOT: './Environments/dev'

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: dev
    defaults : 
      run: 
        working-directory: ${{ env.TF_ROOT }}
     
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2 # Replace with your desired AWS region

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.x.x # Specify your desired Terraform version
         # run : cd /environment/dev

      - name: Terraform Init
        run: terraform init
        #working-directory: ./environment/dev
        

      - name: Terraform plan
        run: terraform plan
        #working-directory: ./environment/dev
